:root {
  --main-color: rgb(46, 40, 54);
  --secondary-color: rgb(190, 138, 96);
  --border-color: rgb(106, 46, 63);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 5% 5% 1fr;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: grid;
  grid-column: 1 / 4;
}

header nav {
  grid-column: 2 / 4;
  justify-self: flex-end;
  padding: 10px;
  grid-row: 1 / 2;
}

.hero-banner {
  display: grid;
  grid-column: 2 / 3;
  justify-content: center;
  align-items: center;
}

main {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "section-1"
    "section-2"
    "section-3";
  justify-items: center;
  margin-top: 20px;
}

#about {
  grid-area: section-1;
  background: yellow;
}

#work {
  grid-area: section-2;
  background: green;
}

#contact {
  grid-area: section-3;
  background: lightblue;
}
